@using POS.Web.ViewModels
@{
    var categories = (List<CategoryViewModel>)HttpContext.Current.Session["Categories"];
    var hasCategories = categories != null && categories.Any();
}

<nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("POS", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                @if (hasCategories)
                {
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Shop<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            @foreach (var item in categories)
                            {
                                <li><a href="~/Category/@item.ID">@item.Name</a></li>
                            }
                        </ul>
                    </li>
                }
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Manage <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Categories", "List", "Categories")</li>
                        <li>@Html.ActionLink("Products", "List", "Products")</li>
                        <li>@Html.ActionLink("Payment Methods", "List", "PaymentMethods")</li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="~/Cart"><span class="glyphicon glyphicon-shopping-cart"></span> <span id="cart-quantity" class="badge">@ViewBag.CartQuantity</span></a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>